html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    font-family: Arial, sans-serif; 

    color: #333;
}
.juegos {
    position: relative;
    background-image: url(Guia/portada.png);
    background-size: cover;
}

.juegos::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.juegos > * {
    position: relative;
    z-index: 2;
}
header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    border-bottom: 1px solid #ff1c1c;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s, text-decoration 0.3s;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul li a:focus {
    outline: 2px solid #ff1c1c;
}

main {
    flex: 1; 
}

section {
    padding: 2em;
    border-top: 1px solid #ff1c1c;
}

h1, h2 {
    font-family: 'Georgia', serif;
    margin-bottom: 0.5em;
}

p {
    line-height: 1.6;
    margin-bottom: 1em;
}

footer {
    text-align: center;
    padding: 2em 0;
    background-color: #333;
    color: #fff;
    width: 100%;
    border-top: 1px solid #ff1c1c;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #4b4b4b;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #ff1c1c;
}

.button:focus {
    outline: none;
    background-color: #ffffff;
}

@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 0.5em 0;
    }

    section {
        padding: 1em;
    }
}

:root {
    --primary-color: #303335;
    --secondary-color: #ff1c1c;
    --background-color: #000000;
    --text-color: #ffffff;
}


body {
    background-color: var(--background-color);
    color: var(--text-color);
}

header, footer {
    background-color: var(--primary-color);
}

nav ul li a {
    color: var(--text-color);
}
